* text=auto
.gitattributes text eol=lf
*.md text eol=lf
*.py text eol=lf
patches/*.patch text eol=lf whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
rogue/pristine/** -text whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
rogue/patched/** -text whitespace=-blank-at-eol,-blank-at-eof,-space-before-tab
*.png binary
